@model CreateCommentDto
@{
    var bl = ViewBag.BId;
}


<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Bir Yorum Yapın</h3>

    <form method="post" asp-controller="Blog" asp-action="AddCommet" class="p-5 bg-light">
            <input asp-for="BlogID" value="@bl" hidden type="text" class="form-control">

        <div class="form-group">
            <label asp-for="Name">Adınız Soyadınız *</label>
            <input asp-for="Name" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Description">Yorumunuz</label>
            <textarea asp-for="Description" cols="30" rows="10" class="form-control"></textarea>
        </div>


        <div class="form-group">
            <input type="submit" value="Yorum Yap" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
</div>
