@model UpdateSocialMediaDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="col-xl-12">

    <div class="card">
        <div class="card-body">


            <h4 class="card-title">Sosyal Medya Sayfası Veri Güncelleme</h4>
            <p class="card-subtitle mb-4">
                Sosyal medya hesaplarınıza ait veri düzenlemelerini buradan yapabilirsiniz. İkonlarla ilgili listeye ikon listesi üzerinden ulaşabilirsiniz.
            </p>

            <form method="post">

                <div class="form-row">

                    <div class="col-md-8 mb-3">


                        <div class="form-group">
                            <label asp-for="Name">Sosyal Medya Başlığı</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Sosyal Medya Başlığını Giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Url">URL</label>
                            <input asp-for="Url" type="text" class="form-control" placeholder="Sosyal Medya Sayfanızın URL Linkini Giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Icon">Sosyal Medya İkon</label>
                            <input asp-for="Icon" type="text" class="form-control" placeholder="Sosyal Medya Ikon Bilgisini Giriniz" required="">
                        </div>

                    </div>

                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
            </form>

        </div>
    </div>
</div>

