
@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model UpdateCarDto


<div class="col-xl-12">

    <div class="card">
        <div class="card-body">


            <h4 class="card-title">Araç Güncelleme Sayfası</h4>
            <p class="card-subtitle mb-4">Araç ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girislerinden sonranra kaydet butonuna tıklayarak güncelleme işlemi tamamlayabilirsiniz.</p>

            <form method="post">

                <div class="form-row">

                    <div class="col-md-4 mb-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Marka</label>
                            @Html.DropDownListFor(x => x.BrandId, (List<SelectListItem>)ViewData["SelectBrandList"], new { @class = "form-control" })
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group">
                            <label asp-for="Model">Model</label>
                            <input asp-for="Model" type="text" class="form-control" placeholder="Model giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Km">Km</label>
                            <input asp-for="Km" type="text" class="form-control" placeholder="Kilometre bilgisini giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="CoverImageUrl">Km</label>
                            <input asp-for="CoverImageUrl" type="text" class="form-control" placeholder="Kapak fotoğrafı linkini giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="BigImageUrl">Büyük Kapak Fotoğrafı</label>
                            <input asp-for="BigImageUrl" type="text" class="form-control" placeholder="Büyük kapak fotoğrafı linkini giriniz." required="">
                        </div>

                    </div>

                    <div class="col-md-1 mb-3"></div>

                    <div class="col-md-4 mb-3">


                        <div class="form-group">
                            <label asp-for="Transmission">Vites Türü</label>
                            <select asp-for="Transmission" asp-items="ViewBag.TransmissionType" class="form-control" required="">
                                <option>Vites Türü Seçiniz</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Seat">Koltuk Sayısı</label>
                            <input asp-for="Seat" type="number" class="form-control" placeholder="Koltuk sayısını giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Luggage">Bagaj Boyutu</label>
                            <input asp-for="Luggage" type="number" class="form-control" placeholder="Bagaj boyutunu giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Fuel">Yakıt Türü</label>
                            <select asp-for="Fuel" asp-items="ViewBag.FuelType" class="form-control" required="">
                                <option>Yakıt Türü Seçiniz</option>
                            </select>
                        </div>


                    </div>
                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
            </form>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div>

