@model CreateBannerDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
<div class="col-xl-12">

    <div class="card">
        <div class="card-body">


            <h4 class="card-title">Yeni Banner Bilgisi Girişi</h4>
            <p class="card-subtitle mb-4">Banner alanına veri girişini aşağıdaki panelden yapınız... </p>

            <form method="post">

                <div class="form-row">

                    <div class="col-md-8 mb-3">


                        <div class="form-group">
                            <label asp-for="Title">Başlık</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Başlık giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Description">Açıklama</label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Açıklama giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="VideoDescription">Video Açıklama</label>
                            <input asp-for="VideoDescription" type="text" class="form-control" placeholder="Video Açıklama giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="VideoUrl">Video Url </label>
                            <input asp-for="VideoUrl" type="text" class="form-control" placeholder="VideoUrl giriniz" required="">
                        </div>

                    </div>

                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Banner Kaydet</button>
            </form>

        </div> 
    </div> 
</div>
</div>

