@model List<ResutlCommentDto>
@{
    var rnd1 = new Dictionary<int, int>()
    {
        {1014,1},
        {1015,1},
        {1019,2},
        {1020,1},
        {1021,2}
    };
}




@* Blog Detail Comments *@

<ul class="comment-list">


    @foreach (var item in Model)
    {

        <li class="comment">
            <div class="vcard bio">
                <img src="~/carbook/images/person_@{
                rnd1[item.CommentID].ToString();
}.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@item.CreatedDate.ToString("dd-MMM-yyyy")</div>
                <p>@item.Description</p>
            </div>
        </li>

    }

</ul>


