
@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="col-xl-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Lokasyon Bilgileri Sayfasi</h4>
            <p class="card-subtitle mb-4">
                Ana sayfa ve araç kiralama sayfasında yer alan araçların alınış ve bırakılış noktalarını temsil eden yer lokasyon kısmıdır. Aşağıda araç kiralama noktalarına ait lokasyon bilgilerinin isimleri yer almaktadır. Sağ tarafta yer alan buton üzerinden bu lokasyonun harita bilgisine erişim sağlayabilirsiniz.
            </p>

            <div class="button-examples mb-3">
                <a href="/Admin/Service/Create" class="btn btn-outline-secondary waves-effect waves-light">

                    Yeni Lokasyon Oluştur

                </a>

            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Lokasyon</th>


                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Konumu Aç</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                
                                <th>@count</th>
                                <th>@item.Title</th>

 

                                <td><a href="/Admin/Service/Remove/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Admin/Service/Update/@item.ServiceID" class="btn btn-outline-success">Güncelle</a></td>
                                <td><a href="/Admin/Service/Detail/@item.ServiceID" class="btn btn-outline-dark">Konumu Aç</a></td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


