
@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="col-xl-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Hizmet Bilgileri Sayfasi</h4>
            <p class="card-subtitle mb-4">
                Ana sayfa ve hizmetler bölümünde yer alan hizmet listesinin admin tarafındaki işlemlerini aşağıdaki sayfadan gerçekleştirebilirsiniz. Tema bütünlüğünü korumak adına 4 tane hizmet girişi yapınız.
            </p>

            <div class="button-examples mb-3">
                <a href="/Admin/Service/Create" class="btn btn-outline-secondary waves-effect waves-light">

                    Yeni Hizmet Oluştur

                </a>

            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Icon-Url</th>

                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Konumu Aç</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                
                                <th>@count</th>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.IconUrl</td>

                                <td><a href="/Admin/Service/Remove/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Admin/Service/Update/@item.ServiceID" class="btn btn-outline-success">Güncelle</a></td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


