@model UpdateServiceDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
<div class="col-xl-12">

    <div class="card">
        <div class="card-body">


            <h4 class="card-title">Hizmet Sayfası Veri Güncelle</h4>
            <p class="card-subtitle mb-4">
                Ana sayfa ve hizmetler bölümünde yer alan hizmet listesinin güncelleme işlemlerini aşağıdaki sayfadan gerçekleştirebilirsiniz.
            </p>

            <form method="post">

                <div class="form-row">

                    <div class="col-md-8 mb-3">


                        <div class="form-group">
                            <label asp-for="Title">Hizmet Başlığı</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Hizmet Başlığını Giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Description">Hizmet Açıklaması</label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Hizmet Açıklamasını Giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="IconUrl">Lokasyon Adı</label>
                            <input asp-for="IconUrl" type="text" class="form-control" placeholder="Hizmet Ikon Bilgisini Giriniz" required="">
                        </div>

                    </div>

                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
            </form>

        </div>
    </div>
</div>
</div>

