@model UpdateAboutDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="col-xl-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">About Bilgisi Güncelleme</h4>
            <p class="card-subtitle mb-4">About alanı veri güncellemesini aşağıdaki panelden yapınız... </p>

            <form method="post">

                <div class="form-row">

                    <div class="col-md-8 mb-3">

                        <div class="form-group">
                            <label asp-for="Title">Başlık</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Başlık giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="Description">Açıklama</label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Açıklama giriniz" required="">
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageUrl">Kapak Fotoğrafaı Url</label>
                            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="About sayfası kapak fotoğrafını giriniz" required="">
                        </div>


                    </div>
                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
            </form>

        </div>
    </div>
</div>





