
@model CreateCategoryDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
<div class="col-xl-12">

    <div class="card">
        <div class="card-body">


            <h4 class="card-title">Yeni Blog Kategori Bilgisi Girişi</h4>
            <p class="card-subtitle mb-4">Blog Kategori alanına veri girişini aşağıdaki panelden yapınız... </p>

            <form method="post">

                <div class="form-row">

                    <div class="col-md-8 mb-3">


                        <div class="form-group">
                            <label asp-for="Name">Kategori Adı</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Kategori Adını giriniz" required="">
                        </div>




                    </div>

                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
            </form>

        </div>
    </div>
</div>
</div>

