@model List<GetByBlogIdTagCloudDto>


@* Bloglara ait etiketler *@
@* _BlogDetailCloudTagByBlogComponentParial *@




<div class="tag-widget post-tag-container mb-5 mt-5">
    <div class="tagcloud">


        @foreach (var item in Model)
        {
            
        <a href="#" class="tag-cloud-link">@item.TagTitle</a>
        }


    </div>
</div>